* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Definindo box-sizing como border-box para todo o documento*/
}

body{
    background: url(./assets/BackgroundPart.svg); /*Definindo o background*/
}

#container{
    margin: 36px 24px 0 24px;
    border: 1px dotted blue;
}

p{
    text-align: center;
}

#title{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: white;

    margin: auto; /*Garante que o texto ficará no centro da página quando usamos width e height*/

    width: 372px;
    height: 58px;
    padding: 0 26px 8px 26px;
    border: 1px solid red;
}

#sub_title{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    color: #FFF54F;

    margin: 9px auto;

    width: 424px;
    padding: 8px 26px 8px;

    border: 1px solid white;
}

#first_row{
    display: flex;
    justify-content: center;

    margin: 0 auto 22px;

    width: 300px;

    border: 1px solid black;
}
