* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Definindo box-sizing como border-box para todo o documento*/
}

body{
    background: url(./assets/BackgroundPart.svg); /*Definindo o background*/
}

p{
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/*Titulo e sub titulo*/
h1{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: white;

    margin: auto; /*Garante que o texto ficará no centro da página quando usamos width e height*/
    
    width: 372px;
    height: 58px;
    padding: 0 26px 8px 26px;
    border: 1px solid red;
}

h2{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    color: #FFF54F;
    
    margin: 9px auto;
    
    width: 424px;
    padding: 8px 26px 8px;
    
    border: 1px solid white;
}
/*-----------------------------------------------------------------------------------------------------------------------*/
/*Container*/
#container{
    display: flex;
    justify-content: center;

    width: 100%;

    border: 3px dotted blue;
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/*Imagens*/
.images{
    display: flex;
    justify-content: center;

    width: 100%;
    max-width: 360px;
}

#first_row{
    margin: 0 auto 22px;

    border: 1px solid black;
}

#second_row{
    gap: 50px;

    margin: auto;

    max-width: 650px;

    border: 1px solid yellow;
}

#third_row{
    margin: 24px auto;

    padding: 0 1px;

    height: 250px;
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/*Text*/
#about_me{
    position: relative;
    margin: 0 24px;

    display: flex;
    justify-self: center;

    left: auto;
    right: auto;
    
    width: 100%;
    max-width: 650px;

    border: 1px solid purple;
}

.text{
    text-align: left;
    text-indent: 24px;

    font-family: 'Coming Soon', cursive;
    color: #FFF54F;

    border: 1px solid goldenrod;
}

#about_me div{
    padding: 10px;

    border: 1px dotted white;
    margin: 5px;
}

#about_me img{
    width: 250px;

    right: 5px;
    top: 2px;

    padding: 10px;
}

